
/* simon */
body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.red{
    background-color: red;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: blue;
}
